* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif;
}

.container-100 {
    width:100%;
}

.container-1200 {
    max-width:1200px;
    margin:0 auto;
}

.container-991 {
    max-width:991px;
    margin:0 auto;
}

.row {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-50 {
    width:calc(100% / 2);
}

.col-100 {
    width:100%;
}

.col-40 {
    width:40%;
}

.col-60 {
    width:60%;
}

.col-33 {
    width:calc(100% / 3);
}

.col-33-gap {
    gap:20px 20px;
    width:calc(100% / 3 - 20px);
}

.col-square {
    width:50%;
    height: calc(100vw / 6);
}

.col-90 {
    width:90%;
}

.col-10 {
    width:10%;
}

.col-30 {
    width:30%;
}

.col-70 {
    width:70%;
}

ul {
    list-style-type: none;
}

.right {
    text-align:right;
}

/* HEADER!!!!! */
header {
    background-color: white;
    position:fixed;
    width:100%;
    z-index:2;
}
header .content {
    font-size:16px;
}

header .row {
    height:70px;
    justify-content: center;
    align-items:center;
}

header li {
    margin:0px 15px;
    vertical-align: middle;
    display:inline;
}

header img {
    margin-right:15px;
    vertical-align: middle;
}

/* MAIN!!!!!!!!! */
main .title {
    font-family:'Palanquin Dark', sans-serif;
    font-size:80px;
    font-weight:700;
    line-height:100px;
}

h2 {
    font-family:'Palanquin Dark', sans-serif;
    font-size:40px;
    font-weight:400;
}

h3 {
    font-size:24px;
}

h4 {
    font-size:16px;
}

main .blue {
    color:white;
    background-color: #0061ff;
    padding:10px;
    margin:30px 0px;
}

main .white {
    background-color: white;
    border:1px solid black;
    padding:20px;
    margin:20px 0opx;
}

/* BOX-ONE */
main .box-one {
    background-color: #b4d0e7;
    padding-top:100px;
}

main .box-one .content {
    padding:20px 0px;
}

main .box-one .content img {
    width:100%;
}

main .box-one .content .arrow {
    margin-top:120px;
}

/* BOX-TWO */
main .box-two {
    margin:30px 0px;
    font-size:15px;
}

main .box-two .col-100 .content {
    line-height:80px;
}

main .box-two .col-100 {
    margin-bottom:20px;
}

main .box-two .col-100-bord {
    border:1px solid #d8d8d8;
    width:100%;
    margin-top:30px;
}

main .box-two .col-33-gap {
    border:1px solid #d8d8d8;
    min-height:800px;
}

main .fatt {
    margin-right:40px;
}

main .box-two .card-tit {
    text-align:center;
    padding:10px 0;
    border-bottom:1px solid #d8d8d8;
}

main .box-two .card-cont {
    line-height:40px;
    padding:35px;
    position:relative;
}

main .box-two .cost {
    font-weight:bold;
    font-size:14px;
}

main .box-two .under {
    color:rgb(133, 133, 133);
}

main .box-two ul {
    line-height:25px;
    margin-top:30px;
}

main .box-two li {
    margin:10px 0;
}

main .box-two .list-cont {
    line-height:20px;
    display:inline-block;
}

main .box-two hr {
    margin:30px 0px;
    width:60px;
}

main .box-two .col-100-bord .blue {
    position:absolute;
    top:0;
    right:0;
}

/* BOX-THREE */
main .box-three  {
    margin:130px 0px;
}

main .box-three img {
    width:100%;
}

main .box-three .col-40 .content {
    padding:80px 20px;
}


/* BOX-FOUR */
main .box-four .content {

}

main .box-four img {
    width:100%;
}

main .box-four .col-100 {
    margin-bottom:30px;
}

main .box-four .col-33-gap {
    margin-bottom:20px;
}

/* BOX-FIVE */
main .box-five  {
    margin:130px 0;
}

main .box-five .content{
    width:70%;
    line-height:50px;
}

/* BOX-SIX */
main .box-six .row-six {
    width:100%;
    display:flex; 
    flex-wrap:wrap;
}

main .box-six .content {
    display:flex;
    flex-wrap:wrap;
}

main .box-six #center {
    background-color:#f5f5f5;
    padding:50px;
}

main .box-six #center img {
    width:60%;
    display:block;
}

main .box-six #center p {
    padding:20px 0;
}

main .box-six .col-square {
    position:relative;
    background-color:#a2d39b;
}

main .box-six #one {
    background-color:#a2d39b;
    border:15px solid #d1e9cd;
}

main .box-six #two {
    background-color:#61082b;
}

main .box-six #three {
    background-color:#0093ce;
}

main .box-six #four {
    background-color:#ff1c1c;
}

main .box-six #five {
    background-color:#d5001f;
}

main .box-six #six {
    background-color:#b4d0e7;
}

main .box-six #seven {
    background-color:#0d2481;
}

main .box-six #eight {
    background-color:#ffd830;
}

main .box-six .logo {
    width:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

main .box-six .logo img {
    width:100%;
    filter:invert(100)
}

main .box-six .sub-hr {
    width:20%;
    border-bottom:1px solid rgb(202, 202, 202);
    margin-bottom:30px;
}

main .box-six .image {
    width:100%;
    margin-bottom:50px;
}


/* BOX-SEVEN */
main .box-seven {
    background-color: #b4d0e7;
    padding:120px 0px;
}

main .box-seven .content {
    line-height:50px;
}

main .box-seven h2 {
    color:#61082b;
}


/* BOX-EIGHT */
main .box-eight {
    padding:130px 0;
    
}
main .box-eight .content {
    padding:20px 0;
}

main .box-eight .row {
    align-items:baseline;
    border-bottom:1px solid rgb(202, 202, 202);
}